.container{
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
    width: 300px;
    border-radius: 20px;
    height: 150px;
    margin-left: 35%;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

input{
    margin: 10px;
}

.b1{
    height:30px;
    width: 30px;
    font-weight: 500;
    font-size: larger;
    border-radius: 8px;
    border: none;
}

.b1:hover{
    color: white;
    background-color: rgb(80, 79, 79);
}